<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qc.ssm.mapper.share.ShareDataMiniProgramMapper" >
  <resultMap id="BaseResultMap" type="com.qc.ssm.po.share.ShareDataMiniProgram" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="webpage_url" property="webpageUrl" jdbcType="VARCHAR" />
    <result column="share_title" property="shareTitle" jdbcType="VARCHAR" />
    <result column="share_data_id" property="shareDataId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, path, title, descript, thumb, user_name, webpage_url, share_title, share_data_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qc.ssm.po.share.ShareDataMiniProgramExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share_data_mini_program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from share_data_mini_program
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from share_data_mini_program
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qc.ssm.po.share.ShareDataMiniProgramExample" >
    delete from share_data_mini_program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qc.ssm.po.share.ShareDataMiniProgram" >
    insert into share_data_mini_program (id, path, title, 
      descript, thumb, user_name, 
      webpage_url, share_title, share_data_id
      )
    values (#{id,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{descript,jdbcType=VARCHAR}, #{thumb,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{webpageUrl,jdbcType=VARCHAR}, #{shareTitle,jdbcType=VARCHAR}, #{shareDataId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qc.ssm.po.share.ShareDataMiniProgram" >
    insert into share_data_mini_program
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="descript != null" >
        descript,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="webpageUrl != null" >
        webpage_url,
      </if>
      <if test="shareTitle != null" >
        share_title,
      </if>
      <if test="shareDataId != null" >
        share_data_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="descript != null" >
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="webpageUrl != null" >
        #{webpageUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareTitle != null" >
        #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareDataId != null" >
        #{shareDataId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qc.ssm.po.share.ShareDataMiniProgramExample" resultType="java.lang.Integer" >
    select count(*) from share_data_mini_program
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update share_data_mini_program
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.descript != null" >
        descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.thumb != null" >
        thumb = #{record.thumb,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.webpageUrl != null" >
        webpage_url = #{record.webpageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.shareTitle != null" >
        share_title = #{record.shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.shareDataId != null" >
        share_data_id = #{record.shareDataId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update share_data_mini_program
    set id = #{record.id,jdbcType=VARCHAR},
      path = #{record.path,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      descript = #{record.descript,jdbcType=VARCHAR},
      thumb = #{record.thumb,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      webpage_url = #{record.webpageUrl,jdbcType=VARCHAR},
      share_title = #{record.shareTitle,jdbcType=VARCHAR},
      share_data_id = #{record.shareDataId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qc.ssm.po.share.ShareDataMiniProgram" >
    update share_data_mini_program
    <set >
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="descript != null" >
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="webpageUrl != null" >
        webpage_url = #{webpageUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareTitle != null" >
        share_title = #{shareTitle,jdbcType=VARCHAR},
      </if>
      <if test="shareDataId != null" >
        share_data_id = #{shareDataId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qc.ssm.po.share.ShareDataMiniProgram" >
    update share_data_mini_program
    set path = #{path,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      webpage_url = #{webpageUrl,jdbcType=VARCHAR},
      share_title = #{shareTitle,jdbcType=VARCHAR},
      share_data_id = #{shareDataId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>