<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qc.ssm.mapper.wx.XyxSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.qc.ssm.po.wx.XyxSummary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="fenlei" property="fenlei" jdbcType="VARCHAR" />
    <result column="iconimg" property="iconimg" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="paixu" property="paixu" jdbcType="INTEGER" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="jianjie" property="jianjie" jdbcType="VARCHAR" />
    <result column="jietu" property="jietu" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, fenlei, iconimg, time, paixu, qrcode, jianjie, jietu, ext1, ext2, ext3, 
    ext4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qc.ssm.po.wx.XyxSummaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xyx_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from xyx_summary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xyx_summary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qc.ssm.po.wx.XyxSummaryExample" >
    delete from xyx_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qc.ssm.po.wx.XyxSummary" >
    insert into xyx_summary (id, title, fenlei, 
      iconimg, time, paixu, 
      qrcode, jianjie, jietu, 
      ext1, ext2, ext3, ext4
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{fenlei,jdbcType=VARCHAR}, 
      #{iconimg,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{paixu,jdbcType=INTEGER}, 
      #{qrcode,jdbcType=VARCHAR}, #{jianjie,jdbcType=VARCHAR}, #{jietu,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qc.ssm.po.wx.XyxSummary" >
    insert into xyx_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="fenlei != null" >
        fenlei,
      </if>
      <if test="iconimg != null" >
        iconimg,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="paixu != null" >
        paixu,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="jianjie != null" >
        jianjie,
      </if>
      <if test="jietu != null" >
        jietu,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="fenlei != null" >
        #{fenlei,jdbcType=VARCHAR},
      </if>
      <if test="iconimg != null" >
        #{iconimg,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="paixu != null" >
        #{paixu,jdbcType=INTEGER},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null" >
        #{jianjie,jdbcType=VARCHAR},
      </if>
      <if test="jietu != null" >
        #{jietu,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qc.ssm.po.wx.XyxSummaryExample" resultType="java.lang.Integer" >
    select count(*) from xyx_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update xyx_summary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.fenlei != null" >
        fenlei = #{record.fenlei,jdbcType=VARCHAR},
      </if>
      <if test="record.iconimg != null" >
        iconimg = #{record.iconimg,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paixu != null" >
        paixu = #{record.paixu,jdbcType=INTEGER},
      </if>
      <if test="record.qrcode != null" >
        qrcode = #{record.qrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.jianjie != null" >
        jianjie = #{record.jianjie,jdbcType=VARCHAR},
      </if>
      <if test="record.jietu != null" >
        jietu = #{record.jietu,jdbcType=VARCHAR},
      </if>
      <if test="record.ext1 != null" >
        ext1 = #{record.ext1,jdbcType=VARCHAR},
      </if>
      <if test="record.ext2 != null" >
        ext2 = #{record.ext2,jdbcType=VARCHAR},
      </if>
      <if test="record.ext3 != null" >
        ext3 = #{record.ext3,jdbcType=VARCHAR},
      </if>
      <if test="record.ext4 != null" >
        ext4 = #{record.ext4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update xyx_summary
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      fenlei = #{record.fenlei,jdbcType=VARCHAR},
      iconimg = #{record.iconimg,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      paixu = #{record.paixu,jdbcType=INTEGER},
      qrcode = #{record.qrcode,jdbcType=VARCHAR},
      jianjie = #{record.jianjie,jdbcType=VARCHAR},
      jietu = #{record.jietu,jdbcType=VARCHAR},
      ext1 = #{record.ext1,jdbcType=VARCHAR},
      ext2 = #{record.ext2,jdbcType=VARCHAR},
      ext3 = #{record.ext3,jdbcType=VARCHAR},
      ext4 = #{record.ext4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qc.ssm.po.wx.XyxSummary" >
    update xyx_summary
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="fenlei != null" >
        fenlei = #{fenlei,jdbcType=VARCHAR},
      </if>
      <if test="iconimg != null" >
        iconimg = #{iconimg,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="paixu != null" >
        paixu = #{paixu,jdbcType=INTEGER},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="jianjie != null" >
        jianjie = #{jianjie,jdbcType=VARCHAR},
      </if>
      <if test="jietu != null" >
        jietu = #{jietu,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qc.ssm.po.wx.XyxSummary" >
    update xyx_summary
    set title = #{title,jdbcType=VARCHAR},
      fenlei = #{fenlei,jdbcType=VARCHAR},
      iconimg = #{iconimg,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      paixu = #{paixu,jdbcType=INTEGER},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      jianjie = #{jianjie,jdbcType=VARCHAR},
      jietu = #{jietu,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT * FROM xyx_summary LIMIT #{begin},#{size}
  </select>

  <select id="getXyxByFenlei" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT * FROM xyx_summary WHERE fenlei LIKE #{fl}
  </select>
</mapper>