<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qc.ssm.mapper.displayAds.ClickadsMapper" >
  <resultMap id="BaseResultMap" type="com.qc.ssm.po.displayAds.Clickads" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="android" property="android" jdbcType="VARCHAR" />
    <result column="ios" property="ios" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appid, url, android, ios, imgurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qc.ssm.po.displayAds.ClickadsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clickads
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clickads
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clickads
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qc.ssm.po.displayAds.ClickadsExample" >
    delete from clickads
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qc.ssm.po.displayAds.Clickads" >
    insert into clickads (id, appid, url, 
      android, ios, imgurl
      )
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{android,jdbcType=VARCHAR}, #{ios,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qc.ssm.po.displayAds.Clickads" >
    insert into clickads
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="android != null" >
        android,
      </if>
      <if test="ios != null" >
        ios,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="android != null" >
        #{android,jdbcType=VARCHAR},
      </if>
      <if test="ios != null" >
        #{ios,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qc.ssm.po.displayAds.ClickadsExample" resultType="java.lang.Integer" >
    select count(*) from clickads
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clickads
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.android != null" >
        android = #{record.android,jdbcType=VARCHAR},
      </if>
      <if test="record.ios != null" >
        ios = #{record.ios,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        imgurl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clickads
    set id = #{record.id,jdbcType=INTEGER},
      appid = #{record.appid,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      android = #{record.android,jdbcType=VARCHAR},
      ios = #{record.ios,jdbcType=VARCHAR},
      imgurl = #{record.imgurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qc.ssm.po.displayAds.Clickads" >
    update clickads
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="android != null" >
        android = #{android,jdbcType=VARCHAR},
      </if>
      <if test="ios != null" >
        ios = #{ios,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qc.ssm.po.displayAds.Clickads" >
    update clickads
    set appid = #{appid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      android = #{android,jdbcType=VARCHAR},
      ios = #{ios,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByAppid" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT * FROM clickads WHERE appid=#{appid}
  </select>
  <select id="select" resultMap="BaseResultMap">
    SELECT * FROM clickads
  </select>
</mapper>